.jumbotron {
    background-color: #025F4F;
    color: white;
    background-size: contain;
}

#title {
    text-shadow:4px 4px 2px rgba(150,150,150,0.1);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
}

#subtitle {
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
}

#homeLogo {
    width: 250px;
    margin: auto;    
    display: block;
}

