button {
    background-color: #6CAA01;
    color: white;
}

#title {
    text-shadow:4px 4px 2px rgba(150,150,150,0.1);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    color: white;
}

#otherTitle {
    text-shadow:4px 4px 2px rgba(150,150,150,0.1);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    padding: 70px 0px 0px 0px;
    font-size: 50px;
    color: white;
}

#otherTitleCenter {
    text-shadow:4px 4px 2px rgba(150,150,150,0.1);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    padding: 70px 0px 0px 0px;
    font-size: 50px;
    color: white;
    text-align: center;
}

#subtitle {
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    color: white;
}

#subtitleCenter {
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

#homeLogo {
    width: 250px;
    margin: auto;    
    display: block;
}

#locLogo {
    margin: auto;    
    display: block;
    transform: rotate(-15deg);
    max-width: 225px;
    min-width: 225px;
}

#jumbotron {
    background-color: #025F4F;
    background-size: contain;
    padding: 64px 32px;
}

#white {
    color: white;
}

#grad1 {
    height: 100%;
    background-color: #025F4F; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #045E4F, #0cc7a7); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}

body {
    height: 100%;
    background-color: #025F4F; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #045E4F, #0cc7a7); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}

#username {
    color:#6CAA01;
    font-weight:bolder;
    font-size: 14px;
}
