#jumbotron {
    background-color: #025F4F;
    background-size: contain;
    padding: 64px 32px;
    margin-bottom: 2rem;
}

button {
    background-color: #6CAA01;
    color: white;
}

#title {
    text-shadow:4px 4px 2px rgba(150,150,150,0.1);
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    color: white;
}

#subtitle {
    font-weight: 300;
    margin-bottom: 1.5rem;
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    color: white;
}

#homeLogo {
    width: 250px;
    margin: auto;    
    display: block;
}

#jumbotron2 {
    background-color: #025F4F;
    background-size: contain;
    margin: auto;
    text-align: center;
    padding: 40px 32px;
    margin-bottom: 2rem;
}

#white {
    color: white;
}


